<!--{% load bootstrap5 %} {% load static %}-->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/style.css" rel="stylesheet">
    <!--
    <link rel="stylesheet" ” href: " {% static ' static/css/style.css ' %} ">-->
</head>

<body>
    <main>

        <!--{% bootstrap_javascript %} {% bootstrap_messages %}-->


        <div class="logincontainer">
            <img class="logologin" src="/img/logo_inicial-03.svg" alt="logo supple" />
            <h1 class="titulologin">Faça login para acessar sua conta</h1>
            <form class="formlogin" method='POST' action='/login/submit '>
                <!--{% csrf_token %}-->

                <input class="inputlogin " name="username " type="email " placeholder="Email " required=True>

                <input class="inputlogin " name="password " type="password " placeholder="Senha " required=True>

                <button class="button" type="submit " value='submit ' class='btn btn-primary '>Entrar</button>
            </form>


            <img class="imagemlogin " src="/img/imagem_login.png " alt="ilustraçao criança com foguete " />
            <!--{% for message in messages %} erro {{message}} {% endfor %} -->
        </div>
    </main>
</body>

</html>